@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global styles */
html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Specific styles */
body {
  font-family: 'Montserrat', sans-serif; /* Use Montserrat only for body */
}

/* Scrollbar styles (consider using a library for better compatibility) */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}

::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #626970;
}
